<footer>
	<p>&copy; 2018 <a href="http://strval.com/">Strval</a>. Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></p>
	<p><a href="https://github.com/strval" target="_blank">Github</a> | <a href="<%= theme.rss %>" target="_blank">RSS</a></p>
</footer>