<footer>
	<p>&copy; 2020 <a href="http://hexo.io/">John Doe</a>. Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></p>
	<p><a href="<%= theme.rss %>" target="_blank">RSS</a></p>
</footer>
