body {
 	width: 800px;
 	margin: 3px auto;
 	font: 16px/1.5 'Avenir Next',Avenir,Helvetica,Arial,sans-serif;
 	background: #F7F7F7;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
a {
	color: #00D;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
nav {
	width: 100%;
	height: 30px;
	background: #613DC1;
}
nav a {
	color: #FFF;
	line-height: 30px;
	padding: 0 10px;
}
header {
	text-align: center;
}
footer {
	padding: 10px;
	text-align: center;
	border-top: 1px solid #CCC;
}
footer p {
	margin: 0;
	font-size: 14px;
}
.page-nav {
	text-align: center;
}
.page-nav .prev {
	float: left;
}
.page-nav .next {
	float: right;
}